{% extends "base.html" %}
{%block content %}


    <div class="row">
        <div class="col-md">
            <div class="something else">
                <h2> Meters and Consumption for {{building_name}} </h2>
            </div>
            <div class="table">
                <table class="table">
                    <tr>
                        <th> Meter </th>
                        {% comment %} <th> Time </th>
                        <th> Consumption </th> {% endcomment %}
                        
                    </tr>

                        {% for meter, consumptions in meter_dict.items%}
                            <tr> 
                                <td><a href="../meter/?meter_id={{ meter.meter_id }}">{{meter}}</a> </td>
                                <!-- originally put the comsumption data on the same page but it made the page really long -->
                                    {% comment %} <td> {% for consumption in consumptions %}
                                        <div>
                                            {{ consumption.reading_date_time}}
                                        </div>
                                        {%endfor%}
                                    </td> {% endcomment %}
                                    {% comment %} <td> {% for consumption in consumptions %}
                                        <div>
                                            {{consumption.consumption }}
                                        </div>
                                        {%endfor%}
                                    </td> {% endcomment %}
                        {% endfor%}
                            </tr>
                </table>
            </div>
        </div>
    </div>
 <!--  End table -->


 <!-- Graph stuff -->
    <div>
        <h1> Consumption throughout the day </h1>

    </div>
    <canvas id="linechart" style="width: 200,height:100"></canvas>


<script type="text/javascript">
    function newRandomColour(){
        var str = "'rgb("
        for (i=0; i < 3; i++){
            str += Math.floor(Math.random() * 255);
            if (i <2){
                str +=','
            }
        } 
        str += ")'"
        console.log(str);
    }
    const labels = [ {% for j in date_range%} "{{j}}",{%endfor%}];
    const data = {
        labels: labels,
        datasets:[ {% for meter, consumptions in meter_dict.items%} 
                    {
                        label:'{{meter}}',
                        backgroundColor: 'rgb(0,0,0)',
                        borderColor: 'rgb(0,80,20)', // tried to get a random colour printed here but didn't work
                        data :[{%for consumption in consumptions%} "{{consumption.consumption}}", {%endfor%}]
                    },
                    {%endfor%}
            ]
    };
    const config = {
        type: 'line',
        data: data,
        options: {responsive:'true'}
    };
    var chart = document.getElementById('linechart');
    var mychart = new Chart(chart, config);
</script>

{%endblock content%}