<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<div class="row">
    <div class="col-md">
        <div class="something else">
            <h2> Buildings and meters </h2>
        </div>
        <div class="actualtable">
            <table class="table">
                <tr>
                    <th> Building </th>
                    <th> meters </th>
                </tr>

                    {% for building, meters in meter_dict.items%}
                        <tr> 
                            {% comment %} <td> <a href="building/?building_id=9582"> test </a> {% endcomment %}
                            <td> <a href="building/?building_id={{building.building_id}}"> {{building.name }} </a></td>
                                <td> {% for meter in meters %}
                                        <div> <a href="meter/?meter_id={{ meter }}">{{meter}}</a> </div>
                                    {%endfor%}
                                </td>
                    {% endfor%}
                        </tr>
            </table>
        </div>
    </div>
</div>


</body>