
{%extends "base.html"%}

{% block content%}
<div class="row">
    <div class="col-md">
        <div class="something else">
            <h2> Buildings and meters </h2>
        </div>
        <div class="actualtable">
            <table class="table">
                <tr>
                    <th> Building </th>
                    <th> meters </th>
                </tr>

                    {% for building, meters in meter_dict.items%}
                        <tr> 
                            <td> <a href="building/?building_id={{building.building_id}}"> {{building.name }} </a></td>
                                <td> 
                                    {% for meter in meters %}
                                        <div> 
                                            <a href="meter/?meter_id={{ meter }}">{{meter}}</a> 
                                        </div>
                                    {%endfor%}
                                </td>
                    {% endfor%}
                        </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}